<div>
  <h1>We have found:</h1>

  <h2> <%= @job_count %> jobs </h2>
  <h2> From <%= @company_count %> companies </h2>
  <h2> Looking for folks who know the following things: </h2>
  <ul>
    <% @tech_names.each do |tn| %>
      <li><%= tn %></li>
    <% end %>
  </ul>

  <ul>
    <% @jobs.each do |job| %>
    <li>
      Posted Date: <%= job.posted_date.strftime('%B %e, %Y') %>
      <br>
      <%= job.company.name %>
    </li>
    <% end %>
  </ul>
</div>
