<div class="container">
  <h1 class="text-center">We have found</h1>

  <div class="well">
    <h2 class="text-center"> <%= @job_count %> Jobs </h2>
    <h2 class="text-center"> From <%= @company_count %> Companies </h2>
    <h2 class="text-center"> Looking for folks who know the following things</h2>
    <ul>
      <% @tech_names.each do |tn| %>
        <li class="text-center no-dots"><%= tn.capitalize %></li>
      <% end %>
    </ul>
  </div>

  <h1 class="text-center">Jobs</h1>
  <ul class="job-list">
    <% @jobs.each do |job| %>
      <li class="well no-dots">
        Company: <%= job.company_name %>
        <br>
        Title: <%= job.title.titleize %>
        <br>
        Posted Date: <%= job.posted_date.strftime('%B %e, %Y') %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>

